@mixin ad-debug
{
	border: 3px solid black;
	@include box-sizing(border-box);
}

.adcontainer-header
{
	margin-bottom: 10px;
	margin-top: 20px;
}

.ad-billboard
{
	@include ad-debug;
	height: 250px;
	width: 970px;
}

.ad-leaderboard
{
	@include ad-debug;
	margin: auto;
	height: 90px;
	width: 728px;
}

.ad-medium-rectangle
{
	@include ad-debug;
	height: 90px;
	width: 728px;
}

.ad-portrait
{
	@include ad-debug;
	height: 1050ps;
	width: 300px;
}