.category-title
{
	margin: auto;
	margin-bottom: 25px;
	max-width: 1280px;
	padding-top: 20px;
	width: 90%;
}

.category-post
{
	border-bottom: 1px solid lightgrey;
	@include display-flex();
	padding-bottom: 15px;
	padding-top: 15px;
	
	@media screen and (max-width: $screen-target-min)
	{
		width: 100%;
	}
}

.category-date
{
	color: grey;
	display: inline-block;
	font-family: $triangle-font-main;
	font-size: 12px;
	padding-top: 5px;
	text-align: top;
}

.category-post-info
{
	display: inline-block;
	@include flex(1);
	padding-left: 25px;
	padding-right: 25px;
}

.category-headline
{
	color: black;
	font-family: $triangle-font-headline;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	
	&:hover
	{
		border-bottom: 2px solid black;
	}
}

.category-author
{
	color: grey;
	font-family: $triangle-font-main;
	font-size: 12px;
	line-height: 12px;
	margin-top: 11px;
	
	a
	{
		color: grey;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.category-tease
{
	color: black;
	font-family: $triangle-font-copy;
	margin-top: 8px;
}

.category-pagination
{
	padding: 10px;

	a
	{
		color: black;
		font-weight: bold;
		text-decoration: none;
	}
	
	a:hover
	{
		text-decoration: underline;
	}

	.next
	{
		float: right;
	}
}

@media screen and (max-width: $screen-target-min)
{
	#section-articles { padding-top: 0px; }
	
	.category-title
	{
		margin: 0px;
		margin-left: 10px;
		margin-right: 10px;
		width: auto;
	}

	.category-post
	{
		border-bottom: 1px solid lightgrey;
		border-left: none !important;
		border-right: none !important;
		padding-bottom: 30px !important;
		padding-left: 0px !important;
		padding-right: 0px !important;
		padding-top: 30px !important;
		width: 100% !important;
	}
	
	.category-post-info
	{
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.category-thumbnail
	{
		display: none;
	}
	
	.category-date
	{
		display: none;
	}
}