//--------------------------------------------------------------------------------
//
//	Triangle Fonts
//
//--------------------------------------------------------------------------------
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text);

$triangle-logo: Roboto Slab, Helvetica, Arial, sans-serif;
$triangle-headline: 'Playfair Display', serif;
$triangle-copy: 'Crimson Text', serif;

//--------------------------------------------------------------------------------
//
//	Triangle Colors
//
//--------------------------------------------------------------------------------

/* Main Triangle color used in header, footer, and other colored elements */
$triangle-blue: #07294D;

//--------------------------------------------------------------------------------
//
//	Triangle Mixins
//
//--------------------------------------------------------------------------------

/* Mixins are groups of CSS declarations reused throughout the site. Use these instead of manually redefining them in CSS classes. */
@mixin border-radius($radius)
{
	border-radius: $radius;
	moz-border-radius: $radius;
	ms-border-radius: $radius;
	o-border-radius: $radius;
	webkit-border-radius: $radius;
}

@mixin box-sizing($val)
{
	box-sizing: $val;
	-moz-box-sizing: $val;
    -webkit-box-sizing: $val;
}

@mixin transform($val)
{
	transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	-webkit-transform: $val;
}

@mixin transition($val)
{
	transition: $val;
	-moz-transition: $val;
	-ms-transition: $val;
	-o-transition: $val;
	-webkit-transition: $val;
}