//--------------------------------------------------------------------------------
//
//	Triangle Fonts
//
//--------------------------------------------------------------------------------

$triangle-font-logo: Roboto Slab, Helvetica, Arial, sans-serif;
$triangle-font-main: Roboto Slab, Helvetica, Arial, sans-serif;
$triangle-font-headline: 'Playfair Display', serif;
$triangle-font-copy: 'Crimson Text', serif;

//--------------------------------------------------------------------------------
//
//	Triangle Colors
//
//--------------------------------------------------------------------------------

/* Main Triangle color used in header, footer, and other colored elements */
$triangle-color-blue: #07294D;

//--------------------------------------------------------------------------------
//
//	Sizes
//
//--------------------------------------------------------------------------------

$screen-target-min: 975px;