.footer-wrapper
{
	border-top: 6px solid $triangle-color-blue;
	width: 100%;
}

.footer-container
{
	height: 100%;
	margin: auto;
	max-width: 1280px;
	width: 90%;
}

.footer-branding
{
	display: flex;
	height: 50px;
	width: 100%;
}

.footer-logo
{
	display: flex;
	flex-direction: column;
	height: 50px;
	justify-content: center;
	
	img
	{
		height: 26px;
	}
}

.footer-social
{
	flex: 1;
	font-size: 20px;
	height: 100%;
	padding-left: 35px;
	padding-top: 5px;
	
	i
	{
		color: white;
		margin-left: 20px;
	}
}

.footer-tagline
{
	font-family: $triangle-font-main;
	font-size: 14px;
	line-height: 50px;
}

.footer-nav-container
{
	margin-bottom: 35px;
	margin-top: 35px;
	text-align: center;
	width: 100%;
}

.footer-nav-links
{
	font-size: 0;
	list-style: none;
	padding: 0;
	width: 100%;
	
	li
	{
		border-right: 2px solid black;
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		width: auto;
	}
	
	li:last-child
	{
		border-right: none;
	}

	a
	{
		color: black;
		height: 55px;
		font-family: $triangle-font-main;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
	}
	
	a:hover
	{
		text-decoration: underline;
	}
}

.footer-copyright
{
	color: grey;
	height: 16px;
	font-size: 14px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}

.footer-disclaimer
{
	border-top: 1px solid lightgrey;
	color: grey;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	font-style: italic;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 100%;
}

@media screen and (max-width: $screen-target-min)
{
	.footer-wrapper
	{
		display: none;
	}
}

/*@media screen and (max-width: $screen-target-min)
{
	.footer-tagline,
	.footer-copyright,
	.footer-disclaimer
	{
		display: none;
	}
	
	.footer-wrapper
	{
		margin-bottom: 25px;
		margin-top: 25px;
	}
	
	.footer-branding
	{
		display: inline;
		width: 100%;
	}
	
	.footer-branding.logo,
	.footer-social
	{
		display: inline-block;
		padding: 0px;
		text-align: center;
		width: 100%;
	}
	
	.footer-nav-links
	{
		width: 100%;
	
		li
		{
			border-bottom: 1px solid lightgrey;
			border-right: none;
			padding-bottom: 15px;
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 15px;
			width: 100%;
		}
		
		li:last-child
		{
			border: none;
		}
		
		li:hover
		{
			background-color: lightgrey;
		}
		
		a
		{
			font-size: 20px;
		}
		
		a:hover
		{
			text-decoration: none;
		}
	}
}*/