.frontpage-header
{
	margin: auto;
	max-width: 1280px;
	overflow: hidden;
	padding-top: 20px;
	width: 90%;
	
	.frontpage-logo
	{
		text-align: center;
		
		img
		{
			//max-height: 76px;
			max-width: 800px;
			width: 98%;
		}
	}
		
	.frontpage
	{
		@include align-items(stretch);
		border-bottom: 1px solid black;
		border-top: 2px solid black;
		@include display-flex();
		list-style-type: none;
		margin-top: 15px;
		padding: 0;
		width: 100%;
		
		li
		{
			@include flex(1);
			font-family: $triangle-font-main;
			font-size: 14px;
			margin: 0;
			padding: 0;
			
			a
			{
				color: black;
				display: inline-block;
				height: 25px;
				line-height: 25px;
				margin: 0;
				padding-bottom: 15px;
				padding-top: 15px;
				text-align: center;
				text-decoration: none;
				vertical-align: middle;
				width: 100%;
			}
			
			a:hover
			{
				background-color: #E8E8E8;
				border-style: none;
			}
		}
	}
	
	@media screen and (max-width: $screen-target-min)
	{
		display: none;
	}
}

.frontpage-navbar-container
{
	background: white;
	border-bottom: 1px solid lightgrey;
	@include display-flex();
	height: 55px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
	
	@media screen and (max-width: $screen-target-min)
	{
		display: none;
	}
}

.frontpage-navbar-links
{
	@include flex(1);
	height: 55px;
	line-height: 55px;
	padding-right: 15px;
	text-align: right;
	
	a
	{
		color: black;
		height: 55px;
		font-weight: bold;
		text-decoration: none;
	}
	
	@media screen and (max-width: $screen-target-min)
	{
		visibility: hidden;
	}
}

.wrapper-frontpage
{
	height: 100%;
	width: 100%;
}

/*.frontpage-section-media
{
	background-color: #333333;
	height: 500px;
	margin-bottom: 50px;
	overflow: hidden;
	width: 100%;
}*/

.frontpage-postinfo
{
	display: inline-block;
	font-family: $triangle-font-main;
	font-size: 10px;
	padding-top: 5px;
	width: 100%;
	
	a
	{
		color: black;
		text-decoration: none;
	}
	
	/*@media screen and (max-width: $screen-target-min)
	{
		display: none;
	}*/
}

.frontpage-feature
{
	padding-bottom: 10px;
	
	img
	{
		display: inline !important;
		height: auto;
		width: 100%;
	}
}

.frontpage-category-title
{
	border-bottom: 6px solid $triangle-color-blue;
	font-family: $triangle-font-main;
	font-size: 36px;
	margin-bottom: 15px;
	margin-top: 0px;
	width: 100%;
	
	a
	{
		color: black;
		font-family: $triangle-font-main;
		text-decoration: none;
	}
}