.frontpage-header
{
	margin: auto;
	max-width: 1280px;
	overflow: hidden;
	width: 90%;
	
	.logo-frontpage
	{
		font-family: $triangle-font-logo;
		font-size: calc(12px + (85) * ((100vw) / (1280)));
		height: calc(12px + (85) * ((100vw) / (1280)));
		line-height: calc(12px + (85) * ((100vw) / (1280)));
		margin: auto;
		text-align: center;
		text-transform: uppercase;
	}
		
	ul.frontpage
	{
		align-items: stretch;
		border-bottom: 1px solid black;
		border-top: 2px solid black;
		@include display-flex();
		list-style-type: none;
		margin-top: 15px;
		padding: 0;
		width: 100%;
		
		li
		{
			@include flex(1);
			font-family: $triangle-font-main;
			font-size: 14px;
			margin: 0;
			padding: 0;
			
			a
			{
				color: black;
				display: inline-block;
				height: 25px;
				line-height: normal;
				margin: 0;
				padding-bottom: 15px;
				padding-top: 15px;
				text-align: center;
				text-decoration: none;
				vertical-align: middle;
				width: 100%;
			}
			
			a:hover
			{
				background-color: #E8E8E8;
				border-style: none;
			}
		}
	}
	
	@media screen and (max-width: $screen-target-min)
	{
		display: none;
	}
}

.frontpage-navbar-container
{
	background: white;
	border-bottom: 1px solid lightgrey;
	display: flex;
	height: 55px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2;
	
	@media screen and (max-width: $screen-target-min)
	{
		display: none;
	}
}

.frontpage-navbar-links
{
	flex: 1;
	height: 55px;
	line-height: 55px;
	padding-right: 15px;
	text-align: right;
	
	a
	{
		color: black;
		height: 55px;
		font-weight: bold;
		text-decoration: none;
	}
	
	@media screen and (max-width: $screen-target-min)
	{
		visibility: hidden;
	}
}

.wrapper-frontpage
{
	height: 100%;
	width: 100%;
}

.frontpage-section-top
{
	margin: auto;
	max-width: 1280px;
	overflow: hidden;
	width: 90%;
	
	@media screen and (max-width: $screen-target-min)
	{
		@include box-sizing(border-box);
		padding: 10px;
		width: 100%;
	}
}

.frontpage-section-media
{
	background-color: #333333;
	height: 500px;
	margin-bottom: 50px;
	overflow: hidden;
	width: 100%;
}

.frontpage-item-container
{
	@include display-flex();
	flex-wrap: wrap;
	height: 100%;
	justify-content: space-around;
	padding: 0px;
	width: 100%;
}

.frontpage-item-container.single
{
	align-items: stretch;
	display: flex;
}

.frontpage-feature
{
	display: inline-block;
	margin-bottom: 25px;
	width: 65%;
	
	img
	{
		height: auto;
		margin: 0;
		width: 100%;
	}
	
	@media screen and (max-width: $screen-target-min)
	{
		width: 100%;
	}
}

.frontpage-author-link
{
	
}

.frontpage-feature-excerpt
{
	font-family: $triangle-font-copy;
	padding-top: 10px;
	width: 100%;
	
	@media screen and (max-width: $screen-target-min)
	{
		display: none;
	}
}

/*.frontpage-item-list
{
	border-bottom: 1px solid lightgrey;
	display: inline-block;
	list-style: none;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	
	a
	{
		color: black;
		display: inline-block;
		font-family: $triangle-font-headline;
		font-size: 20px;
		text-decoration: none;
		width: 100%;
	}
	
	a:hover
	{
		text-decoration: underline;
	}
	
	&:last-child
	{
		border: none;
	}
}*/

.frontpage-item-thumbnail
{
	display: inline-block;
	max-height: 300px;
	overflow: hidden;
	padding: 15px;
	vertical-align: top;
	width: 231px;
	
	img
	{
		background-image: url(images/backgrounds/bg-story-sm.png);
		height: 154px;
		overflow: hidden;
		width: 231px;
	}
}

.frontpage-item-thumbnail.single
{
	@include flex(1);
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	
	img
	{
		overflow: hidden;
		-o-object-fit: cover;
		object-fit: cover;
		width: 100%;
	}
}

.frontpage-postinfo
{
	display: inline-block;
	font-family: $triangle-font-main;
	font-size: 10px;
	padding-top: 5px;
	width: 100%;
	
	a
	{
		color: black;
		text-decoration: none;
	}
	
	@media screen and (max-width: $screen-target-min)
	{
		display: none;
	}
}

@media screen and (max-width: $screen-target-min)
{
	#frontpage-category-popular
	{
		display: none;
	}

	.frontpage-item-thumbnail,
	.frontpage-item-thumbnail.single
	{
		border-bottom: 1px solid lightgrey;
		display: inline-block;
		list-style: none;
		margin-bottom: 0px;
		padding-bottom: 30px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 30px;
		width: 100%;
	}
}