.generic-wrapper
{
	margin-top: 55px;
	height: 100%;
	width: 100%;
}

.generic-container
{
	margin: auto;
	max-width: 1280px;
	overflow: hidden;
	width: 90%;
}

.generic-flex-container
{
	@include display-flex();
	margin: auto;
	max-width: 1280px;
	overflow: hidden;
	width: 90%;
	
	.flex-main
	{
		flex-grow: 1;
		padding-right: 20px;
	}
	
	.flex-sidebar
	{
		border-left: 1px solid lightgrey;
		padding-left: 20px;
	}
}