.header-clearfix
{
	height: 50px;
	
	@media screen and (max-width: $screen-target-min)
	{
		height: 75px;
	}
}

.header-global
{
	background-color: $triangle-color-blue;
	@include display-flex();
	font-size: 30px;
	height: 50px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	@include transition(.4s ease-in-out);
	width: 100%;
	z-index: 2;
	
	&.hidden
	{
		height: 0px;
		overflow: hidden;
		top: -50px;
		@include transition(.4s ease-in-out);
		
		@media screen and (max-width: $screen-target-min)
		{
			height: 50px;
			top: 0px;
		}
	}
	
	.header-container
	{
		@include flex(1);
		height: 100%;
		margin-left: 0.25em;
		margin-right: 0.25em;
	}
	
	@media screen and (max-width: $screen-target-min)
	{
		@include flex-direction(column);
		font-size: 22px;
		height: auto;
		
		.header-container
		{
			@include flex(0 0 100%);
			margin: 0px;
		}
	}
}
	
.header-logo-container
{
	@include display-flex();
	@include flex-direction(column);
	height: 100%;
	@include justify-content(center);
	line-height: 0px;

	.header-logo
	{
		height: 30px;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	
	@media screen and (max-width: $screen-target-min)
	{
		text-align: center;
		
		.header-logo
		{
			height: 20px;
			margin-bottom: 10px;
			margin-top: 10px;
		}
	}
}

.header-nav-container
{
	height: 100%;
	text-align: right;
	
	.navbar-nav
	{
		list-style: none;
		height: 100%;
		margin: 0px;
		padding: 0px;
		white-space: nowrap;
		width: 100%;
	
		li
		{
			display: inline-block;
			height: 100%;
			padding-left: 0.4em;
			padding-right: 0.4em;
			width: auto;
			
			a
			{
				color: white;
				font-family: $triangle-font-main;
				font-size: 0.5em;
				height: 100%;
				text-decoration: none;
			}
			
			a:focus
			{
				outline: none;
			}
			
			&:after
			{
				background: white;
				content: '';
				display: block;
				height: 3px;
				transform: scaleX(0);
				transition: transform 0.2s ease-in-out;
				width: 100%;
			}
			
			&:hover::after
			{
				transform: scaleX(1);
			}
		}
	}
	
	@media screen and (max-width: $screen-target-min)
	{
		height: 35px;
		text-align: left;
		overflow-y: scroll;
		
		.navbar-nav
		{
			@include align-items(stretch);
			@include display-flex();
		
			li
			{
				@include flex(1);
				
				&:after
				{
					display: none;
				}
			}
		}
	}
}