/* Mixins are groups of CSS declarations with vendor prefixes to be reused throughout the site. Use these instead of manually redefining them in CSS classes. */

@mixin align-items($val)
{
	align-items: $val;
	-webkit-align-items: $val;
}

@mixin border-radius($radius)
{
	border-radius: $radius;
	moz-border-radius: $radius;
	ms-border-radius: $radius;
	o-border-radius: $radius;
	webkit-border-radius: $radius;
}

@mixin box-sizing($val)
{
	box-sizing: $val;
	-moz-box-sizing: $val;
    -webkit-box-sizing: $val;
}

@mixin display-flex()
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}

@mixin flex($val)
{
	flex: $val;
	-moz-flex: $val;
	-ms-flex: $val;
	-webkit-box-flex: $val;
	-webkit-flex: $val;
}

@mixin flex-direction($val)
{
	flex-direction: $val;
	-moz-flex-direction: $val;
	-ms-flex-direction: $val;
	-webkit-flex-direction: $val;
}

@mixin flex-wrap($val)
{
	flex-wrap: $val;
	-moz-flex-wrap: $val;
	-ms-flex-wrap: $val;
	-webkit-flex-wrap: $val;
}

@mixin justify-content($val)
{
	justify-content: $val;
	-moz-justify-content: $val;
	-webkit-justify-content: $val;
}

@mixin object-fit($val)
{
	object-fit: $val;
	-o-object-fit: $val;
}

@mixin transform($val)
{
	transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	-webkit-transform: $val;
}

@mixin transition($val)
{
	transition: $val;
	-moz-transition: $val;
	-ms-transition: $val;
	-o-transition: $val;
	-webkit-transition: $val;
}