/* Mixins are groups of CSS declarations with vendor prefixes to be reused throughout the site. Use these instead of manually redefining them in CSS classes. */

@mixin border-radius($radius)
{
	border-radius: $radius;
	moz-border-radius: $radius;
	ms-border-radius: $radius;
	o-border-radius: $radius;
	webkit-border-radius: $radius;
}

@mixin box-sizing($val)
{
	box-sizing: $val;
	-moz-box-sizing: $val;
    -webkit-box-sizing: $val;
}

@mixin display-flex()
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}

@mixin flex($val)
{
	flex: $val;
	-ms-flex: $val;
	-webkit-box-flex: $val;
	-webkit-flex: $val;
}

@mixin transform($val)
{
	transform: $val;
	-moz-transform: $val;
	-ms-transform: $val;
	-o-transform: $val;
	-webkit-transform: $val;
}

@mixin transition($val)
{
	transition: $val;
	-moz-transition: $val;
	-ms-transition: $val;
	-o-transition: $val;
	-webkit-transition: $val;
}