.search-container
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: -300px;
	width: 300px;
}

.search-textbox
{
	border: 1px solid black;
	border-radius: 5px;
	@include box-sizing(border-box);
	display: none;
	font-family: $triangle-font-main;
	font-size: 12px;
	height: 25px;
	outline: none;
	padding: 5px;
	padding-left: 10px;
	@include transition(.4s ease-in-out);
	width: 0px;
}

@media screen and (max-width: $screen-target-min)
{
	.search-container
	{
		margin-right: -50%;
		width: 50%;
	}
}