section.comments
{
	margin: auto;
	max-width: 800px;
	overflow: hidden;
	width: 90%;
}

.single-title
{
	h1
	{
		font-family: $triangle-font-headline;
		font-size: 42px;
		font-style: italic;
	}
	
	h2
	{
		color: grey;
		font-family: $triangle-font-headline;
		font-size: 20px;
		margin-top: -30px;
	}
}

.single-meta
{
	border-bottom: 1px solid lightgrey;
	border-top: 1px solid lightgrey;
	min-height: 50px;
	margin-bottom: 25px;
	
	.author
	{
		display: inline-block;
		font-family: $triangle-font-main;
		font-size: 12px;
		height: 50px;
		line-height: 50px;
		
		a
		{
			color: black;
			font-weight: bold;
			text-decoration: none;
		}
	}
	
	.date
	{
		display: inline-block;
		font-family: $triangle-font-main;
		font-size: 12px;
		height: 100%;
		line-height: 100%;
		padding-left: 15px;
	}
}

.single-content
{
	width: 100%;
	
	p
	{
		font-family: $triangle-font-copy;
		font-size: 20px;
		margin: auto;
		max-width: 708px;
		padding-bottom: 20px;
		width: 100%;
	}
}

figcaption.wp-caption-text
{
	color: grey;
	font-size: 16px;
	font-style: italic;
	margin-top: -5px
}