.text-bold
{
	font-weight: bold;
}

.text-headline-small
{
	color: black;
	font-family: $triangle-font-headline;
	font-size: 16px;
	text-decoration: none;
}

.text-headline-medium
{
	color: black;
	font-family: $triangle-font-headline;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	
	&:hover
	{
		border-bottom: 2px solid black;
	}
}

.text-headline-large
{
	color: black;
	font-family: $triangle-font-headline;
	font-size: 42px;
	text-decoration: none;
}

.text-headline-small:hover,
.text-headline-large:hover
{
	text-decoration: underline;
}

.text-title-large
{
	border-bottom: 6px solid $triangle-color-blue;
	color: black;
	font-family: $triangle-font-main;
	font-size: 36px;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	width: 100%;
}

.text-instagram
{
	background-clip: text;
	-webkit-background-clip: text;
	background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	color: transparent !important;
}

@media screen and (max-width: $screen-target-min)
{
	.text-headline-small,
	.text-headline-medium,
	.text-headline-large
	{
		font-size: 22px;
		font-weight: normal;
	}
}